html,
html body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100vw;
    max-width:100%;
}

html body {
    position: relative;
    overscroll-behavior-x: none; /* prevents browser navigation by left or right swipe */
}

.qroll-parent {
    height: 100vh !important;
    height: 100svh !important;
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
    width: 100vw !important;
    max-width: 100% !important;
}

.qroll-carousel-vertical {
    position: relative;
    height: 100vh;
    width: 100vw;
    /* border: 1px solid black; */
    background: radial-gradient(transparent, rgba(255, 255, 255, 0.445));
;    overflow: hidden;
}

.qroll-slide {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    transition: top 0.5s ease-in-out;
}

.qroll-carousel-vertical-button-top,
.qroll-carousel-vertical-button-down {
    position: absolute;
    right: 8px;
    height: 30px;
    width: 30px;
    padding: 2px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}

.qroll-carousel-vertical-button-top {
    top: 6px;
}

.qroll-carousel-vertical-button-down {
    bottom: 6px;
}

.qroll-carousel-vertical-button-top svg path,
.qroll-carousel-vertical-button-down svg path {
    filter: drop-shadow(0px 0px 2px black);
}

.qroll-carousel-vertical-button-top,
.qroll-carousel-vertical-button-down {
    outline: none;
    border:none;
}

@media screen and (max-width: 769px) {
    .qroll-carousel-vertical-button-top,
    .qroll-carousel-vertical-button-down {
        display:none !important;
    }
}

.no-transition .qroll-vertical-slide {
    transition: unset !important;
}

.qroll-nav-vertical {
    position: fixed;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 3px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.qroll-nav-link {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.445);
    position: relative;
}
.qroll-nav-link:hover {
    transform: scale(1.5,1.5);
}

.qroll-nav-link-selected {
    transform: scale(1.5,1.5);
}

.qroll-tooltip-left {
    background: white;
    border-radius: 4px;
    border:1px solid white;
    box-shadow: 5px 0px 5px rgba(0,0,0,0.1);
    cursor: pointer;
    display:none;
    height: 28px;
    line-height: 1.7rem;
    padding: 0px 12px;
    position: absolute;
    right: calc(100% + 12px);
    text-align:center;
    user-select: none;
    white-space: nowrap;
    margin-top:-5.5px;
}
.qroll-tooltip-left::after {
    color: white;
    content: "⏵";
    position: absolute;
    right:-11px;
    top:0px;
}

.qroll-nav-link:hover .qroll-tooltip-left {
    display: inline-block !important;
    width:min-content !important;
    transform: scale(0.7, 0.7) translateY(-7px) translateX(12px);

}

.qroll-main.qroll-transition-100 .qroll-slide {
    transition: top 100ms ease, visibility 100ms ease-in-out;
}
.qroll-main.qroll-transition-200 .qroll-slide {
    transition: top 200ms ease, visibility 200ms ease-in-out;
}
.qroll-main.qroll-transition-300 .qroll-slide {
    transition: top 300ms ease, visibility 300ms ease-in-out;
}
.qroll-main.qroll-transition-400 .qroll-slide {
    transition: top 400ms ease, visibility 400ms ease-in-out;
}
.qroll-main.qroll-transition-500 .qroll-slide {
    transition: top 500ms ease, visibility 500ms ease-in-out;
}
.qroll-main.qroll-transition-600 .qroll-slide {
    transition: top 600ms ease, visibility 600ms ease-in-out;
}
.qroll-main.qroll-transition-700 .qroll-slide {
    transition: top 700ms ease, visibility 700ms ease-in-out;
}
.qroll-main.qroll-transition-800 .qroll-slide {
    transition: top 800ms ease, visibility 800ms ease-in-out;
}
.qroll-main.qroll-transition-900 .qroll-slide {
    transition: top 900ms ease, visibility 900ms ease-in-out;
}
.qroll-main.qroll-transition-1000 .qroll-slide {
    transition: top 1000ms ease, visibility 1000ms ease-in-out;
}

.qroll-no-transition {
    transition:unset !important;
}