html,
html body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100vw;
    max-width:100%;
}

html body {
    position: relative;
    overscroll-behavior-x: none; /* prevents browser navigation by left or right swipe */
}

.qroll-parent {
    height: 100vh !important;
    height: 100svh !important;
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
    width: 100vw !important;
    max-width: 100% !important;
}

.qroll-carousel-vertical {
    position: relative;
    height: 100vh;
    width: 100vw;
    /* border: 1px solid black; */
    background: radial-gradient(transparent, rgba(255, 255, 255, 0.445));
;    overflow: hidden;
}

.qroll-slide {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    transition: top 0.5s ease-in-out;
}

.qroll-carousel-vertical-button-top,
.qroll-carousel-vertical-button-down {
    position: absolute;
    right: 8px;
    height: 30px;
    width: 30px;
    padding: 2px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    z-index: 10;
}

.qroll-carousel-vertical-button-top {
    top: 28px;
}

.qroll-carousel-vertical-button-down {
    bottom: 28px;
}

.qroll-carousel-vertical-button-top:focus,
.qroll-carousel-vertical-button-down:focus {
    outline: 3px solid black;
}

.qroll-carousel-vertical-button-top svg path,
.qroll-carousel-vertical-button-down svg path {
    filter: drop-shadow(0px 0px 2px black);
}

.qroll-carousel-vertical-button-top,
.qroll-carousel-vertical-button-down {
    outline: none;
    border:none;
}

@media screen and (max-width: 769px) {
    .qroll-carousel-vertical-button-top,
    .qroll-carousel-vertical-button-down {
        display:none !important;
    }
}

.qroll-nav-vertical {
    position: fixed;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 3px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index:10;
}

button.qroll-nav-link {
    all:unset;
    height: 8px !important;
    width: 8px !important;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.445);
    position: relative;
}
.qroll-nav-link:hover {
    transform: scale(1.5,1.5) !important;
}

.qroll-nav-link-selected {
    transform: scale(1.5,1.5) !important;
}

.qroll-nav-link:focus {
    outline:3px solid rgba(0, 0, 0, 0.418) !important;
    transform: scale(1.5,1.5) !important;

}

.qroll-tooltip-left {
    background: white;
    border-radius: 4px;
    border:1px solid white;
    box-shadow: 5px 0px 5px rgba(0,0,0,0.1);
    cursor: pointer;
    display:none;
    height: 28px;
    line-height: 1.7rem;
    padding: 0px 12px;
    position: absolute;
    right: calc(100% + 12px);
    text-align:center;
    user-select: none;
    white-space: nowrap;
    margin-top:-10px;
}
.qroll-tooltip-left::after {
    color: white;
    content: "⏵";
    position: absolute;
    right:-11px;
    top:0px;
}

.qroll-nav-link:hover .qroll-tooltip-left {
    display: inline-block !important;
    width:min-content !important;
    transform: scale(0.7, 0.7) translateY(-7px) translateX(12px);

}

.qroll-main.qroll-transition-100 .qroll-slide {
    transition: transform 100ms ease, visibility 100ms ease;
}
.qroll-main.qroll-transition-200 .qroll-slide {
    transition: transform 200ms ease, visibility 200ms ease;
}
.qroll-main.qroll-transition-300 .qroll-slide {
    transition: transform 300ms ease, visibility 300ms ease;
}
.qroll-main.qroll-transition-400 .qroll-slide {
    transition: transform 400ms ease, visibility 400ms ease;
}
.qroll-main.qroll-transition-500 .qroll-slide {
    transition: transform 500ms ease, visibility 500ms ease;
}
.qroll-main.qroll-transition-600 .qroll-slide {
    transition: transform 600ms ease, visibility 600ms ease;
}
.qroll-main.qroll-transition-700 .qroll-slide {
    transition: transform 700ms ease, visibility 700ms ease;
}
.qroll-main.qroll-transition-800 .qroll-slide {
    transition: transform 800ms ease, visibility 800ms ease;
}
.qroll-main.qroll-transition-900 .qroll-slide {
    transition: transform 900ms ease, visibility 900ms ease;
}
.qroll-main.qroll-transition-1000 .qroll-slide {
    transition: transform 1000ms ease, visibility 1000ms ease;
}

/* slide carousels */

.qroll-slide-carousel-wrapper {
    position: relative;
    height: 100%;
    width:100%;
}

.qroll-carousel-slide {
    position: absolute;
}

.qroll-main.qroll-transition-100 .qroll-carousel-slide {
    transition: transform 100ms ease, visibility 100ms ease;
}
.qroll-main.qroll-transition-200 .qroll-carousel-slide {
    transition: transform 200ms ease, visibility 200ms ease;
}
.qroll-main.qroll-transition-300 .qroll-carousel-slide {
    transition: transform 300ms ease, visibility 300ms ease;
}
.qroll-main.qroll-transition-400 .qroll-carousel-slide {
    transition: transform 400ms ease, visibility 400ms ease;
}
.qroll-main.qroll-transition-500 .qroll-carousel-slide {
    transition: transform 500ms ease, visibility 500ms ease;
}
.qroll-main.qroll-transition-600 .qroll-carousel-slide {
    transition: transform 600ms ease, visibility 600ms ease;
}
.qroll-main.qroll-transition-700 .qroll-carousel-slide {
    transition: transform 700ms ease, visibility 700ms ease;
}
.qroll-main.qroll-transition-800 .qroll-carousel-slide {
    transition: transform 800ms ease, visibility 800ms ease;
}
.qroll-main.qroll-transition-900 .qroll-carousel-slide {
    transition: transform 900ms ease, visibility 900ms ease;
}
.qroll-main.qroll-transition-1000 .qroll-carousel-slide {
    transition: transform 1000ms ease, visibility 1000ms ease;
}

.qroll-horizontal-nav {
    position: absolute;
    bottom: 16px;
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.qroll-carousel-horizontal-button-right,
.qroll-carousel-horizontal-button-left {
    position: absolute;
    bottom: 6px;
}

.qroll-carousel-horizontal-button-right {
    right:36px;
}

.qroll-carousel-horizontal-button-left {
    left: 36px;
}

.qroll-carousel-horizontal-button-right:focus,
.qroll-carousel-horizontal-button-left:focus {
    outline: 3px solid black;
}

@media screen and (max-width:769px) {
    .qroll-carousel-horizontal-button-right {
        right:6px;
    }
    
    .qroll-carousel-horizontal-button-left {
        left: 6px;
    }
}


.qroll-carousel-horizontal-button-right svg path,
.qroll-carousel-horizontal-button-left  svg path {
    filter: drop-shadow(0px 0px 2px black);
}

.qroll-carousel-horizontal-button-right,
.qroll-carousel-horizontal-button-left  {
    outline: none;
    border:none;
}

.qroll-carousel-horizontal-button-right,
.qroll-carousel-horizontal-button-left {
    height: 30px;
    width: 30px;
    padding: 2px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    z-index: 1000;
}

.qroll-tooltip-top {
    background: white;
    border-radius: 4px !important;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.1) !important;
    display:none !important;
    font-size: 11px;
    font-weight:400;
    height: 22px !important;
    left: 50%;
    padding: 0 12px;
    position: absolute;
    text-align:center !important;
    top: calc(-100% - 28px);
    transform: translateX(-50%);
    user-select: none !important;
    white-space: nowrap !important;
    width: fit-content !important;
}

.qroll-tooltip-top::after {
    color: white;
    content: "⏷";
    position: absolute;
    bottom:-10px;
    z-index:1;
    font-size: 16px;
}

.qroll-nav-link:hover .qroll-tooltip-top {
    display: inline-block !important;
    display: flex !important;
    align-items:center !important;
    justify-content:center !important;
}

/* Inner carousel components */

.qroll-carousel-component-horizontal {
    width: calc(100vw - 96px);
    height: fit-content;
}

.qroll-carousel-component-vertical {
    width: fit-content;
}

.qroll-main.qroll-transition-100 .qroll-carousel-component-vertical,
.qroll-main.qroll-transition-100 .qroll-carousel-component-horizontal {
    transition: opacity 100ms ease-in-out;
}
.qroll-main.qroll-transition-200 .qroll-carousel-component-vertical,
.qroll-main.qroll-transition-200 .qroll-carousel-component-horizontal {
    transition: opacity 200ms ease-in-out;
}
.qroll-main.qroll-transition-300 .qroll-carousel-component-vertical,
.qroll-main.qroll-transition-300 .qroll-carousel-component-horizontal {
    transition: opacity 300ms ease-in-out;
}
.qroll-main.qroll-transition-400 .qroll-carousel-component-vertical,
.qroll-main.qroll-transition-400 .qroll-carousel-component-horizontal {
    transition: opacity 400ms ease-in-out;
}
.qroll-main.qroll-transition-500 .qroll-carousel-component-vertical,
.qroll-main.qroll-transition-500 .qroll-carousel-component-horizontal {
    transition: opacity 500ms ease-in-out;
}
.qroll-main.qroll-transition-600 .qroll-carousel-component-vertical,
.qroll-main.qroll-transition-600 .qroll-carousel-component-horizontal {
    transition: opacity 600ms ease-in-out;
}
.qroll-main.qroll-transition-700 .qroll-carousel-component-vertical,
.qroll-main.qroll-transition-700 .qroll-carousel-component-horizontal {
    transition: opacity 700ms ease-in-out;
}
.qroll-main.qroll-transition-800 .qroll-carousel-component-vertical,
.qroll-main.qroll-transition-800 .qroll-carousel-component-horizontal {
    transition: opacity 800ms ease-in-out;
}
.qroll-main.qroll-transition-900 .qroll-carousel-component-vertical,
.qroll-main.qroll-transition-900 .qroll-carousel-component-horizontal {
    transition: opacity 900ms ease-in-out;
}
.qroll-main.qroll-transition-1000 .qroll-carousel-component-vertical,
.qroll-main.qroll-transition-1000 .qroll-carousel-component-horizontal {
    transition: opacity 1000ms ease-in-out;
}

.qroll-carousel-component-horizontal,
.qroll-carousel-component-vertical {
    position:relative;
    overflow: hidden;
}

.qroll-carousel-component-horizontal-slide {
    width: 100%;
    top: 0;
}

.qroll-carousel-component-vertical-slide {
    height: 100%;
    min-height: 100px;
    left:0;
    width: 100%;
    min-width: 200px;
}

.qroll-carousel-component-horizontal-slide,
.qroll-carousel-component-vertical-slide {
    position: absolute;
    display: flex;
    align-items:center;
    justify-content:center;
}

.qroll-component-button-left,
.qroll-component-button-right {
    top: 50%;
    transform: translateY(-50%);
}

.qroll-component-button-top,
.qroll-component-button-down {
    left: 50%;
    transform: translateX(-50%);
}

.qroll-component-button-left,
.qroll-component-button-right,
.qroll-component-button-top,
.qroll-component-button-down,
.qroll-component-button-play {
    position: absolute;
    height: 30px;
    width: 30px;
}

.qroll-component-button-left {
    left: 3px;
}
.qroll-component-button-right {
    right:3px;
}
.qroll-component-button-top {
    top: 3px;
}
.qroll-component-button-down {
    bottom: 3px;
}
.qroll-component-button-play {
    top: 3px;
    left: 3px;
}

.qroll-component-button-left svg path,
.qroll-component-button-right  svg path,
.qroll-component-button-top svg path,
.qroll-component-button-down svg path,
.qroll-component-button-play svg path {
    filter: drop-shadow(0px 0px 2px black);
}

.qroll-component-button-left,
.qroll-component-button-right,
.qroll-component-button-top,
.qroll-component-button-down,
.qroll-component-button-play  {
    outline: none;
    border:none;
}

.qroll-component-button-left,
.qroll-component-button-right,
.qroll-component-button-top,
.qroll-component-button-down,
.qroll-component-button-play {
    height: 30px;
    width: 30px;
    padding: 2px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    z-index: 1000;
}

.qroll-component-button-left:focus,
.qroll-component-button-right:focus,
.qroll-component-button-top:focus,
.qroll-component-button-down:focus {
    outline: 3px solid black;
}

.qroll-main.qroll-transition-100 .qroll-carousel-component-horizontal-slide,
.qroll-main.qroll-transition-100 .qroll-carousel-component-vertical-slide {
    transition: transform 100ms ease, visibility 100ms ease;
}
.qroll-main.qroll-transition-200 .qroll-carousel-component-horizontal-slide,
.qroll-main.qroll-transition-200 .qroll-carousel-component-vertical-slide{
    transition: transform 200ms ease, visibility 200ms ease;
}
.qroll-main.qroll-transition-300 .qroll-carousel-component-horizontal-slide,
.qroll-main.qroll-transition-300 .qroll-carousel-component-vertical-slide {
    transition: transform 300ms ease, visibility 300ms ease;
}
.qroll-main.qroll-transition-400 .qroll-carousel-component-horizontal-slide,
.qroll-main.qroll-transition-400 .qroll-carousel-component-vertical-slide {
    transition: transform 400ms ease, visibility 400ms ease;
}
.qroll-main.qroll-transition-500 .qroll-carousel-component-horizontal-slide,
.qroll-main.qroll-transition-500 .qroll-carousel-component-vertical-slide {
    transition: transform 500ms ease, visibility 500ms ease;
}
.qroll-main.qroll-transition-600 .qroll-carousel-component-horizontal-slide, 
.qroll-main.qroll-transition-600 .qroll-carousel-component-vertical-slide {
    transition: transform 600ms ease, visibility 600ms ease;
}
.qroll-main.qroll-transition-700 .qroll-carousel-component-horizontal-slide,
.qroll-main.qroll-transition-700 .qroll-carousel-component-vertical-slide {
    transition: transform 700ms ease, visibility 700ms ease;
}
.qroll-main.qroll-transition-800 .qroll-carousel-component-horizontal-slide,
.qroll-main.qroll-transition-800 .qroll-carousel-component-vertical-slide {
    transition: transform 800ms ease, visibility 800ms ease;
}
.qroll-main.qroll-transition-900 .qroll-carousel-component-horizontal-slide,
.qroll-main.qroll-transition-900 .qroll-carousel-component-vertical-slide {
    transition: transform 900ms ease, visibility 900ms ease;
}
.qroll-main.qroll-transition-1000 .qroll-carousel-component-horizontal-slide,
.qroll-main.qroll-transition-1000 .qroll-carousel-component-vertical-slide {
    transition: transform 1000ms ease, visibility 1000ms ease;
}

/* leave last */
.no-transition .qroll-vertical-slide {
    transition: unset !important;
}

.qroll-no-transition {
    transition: unset !important;
}