/*
    This css must not be shipped as part of the library.
    It's itended for qroll presentation page only
*/

@font-face {
    font-family: 'Satoshi';
    font-weight: 500;
    src: url("../fonts/Satoshi-Medium.ttf") format('truetype');
}

h1::first-letter,
h1 span {
    color: rgb(73, 98, 151);
    color:rgb(177, 229, 238);
}

h1 {
    color:rgb(115, 189, 202);
    display: block;
    user-select:none;
}

.qroll-logo {
    width: 30%;
}

.test-light {
    color:rgb(177, 229, 238);
}
.test-title-light {
    background: radial-gradient(at top, rgb(177, 229, 238), rgb(83, 172, 110));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%;
    animation: background-pan 3s linear infinite;
}

h2.test-title-dark {
    background: radial-gradient(at top, rgb(181, 177, 238), rgb(61, 93, 143));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%;
    animation: background-pan 3s linear infinite;
    padding: 0 !important;
    margin: 0!important;
}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }
    to {
        background-position: -200% center;
    }
}

code.npm {
    font-size: 0.4em;
    background: radial-gradient(at top, rgba(255,255,255,0.05), transparent, rgba(255,255,255,0.05));
    padding: 12px;
    border-radius: 0.4rem;
    color: rgb(177, 229, 238);
    box-shadow: 0 3px 10px -5px rgb(40, 40, 65);
}

.test-child {
    align-items:center;
    display: flex;
    font-family:Satoshi;
    font-size: 5rem;
    font-weight:bold;
    justify-content:center;
    flex-direction: column;
    color: rgb(40, 40, 65);
}
.test-child > p {
    font-size: 1rem;
    padding: 0 24px;
    width: 100%;
    max-width: 80ch;
    user-select:none;
}

.test-child form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0 auto;
    max-width: 400px;
}

.test-child form input,
.test-child form textarea {
    border-radius: 6px;
    border: none;
    padding: 0 6px;
    font-family: Helvetica;
}

.test-child form textarea {
    padding: 6px;
}

.test-child form input {
    height: 32px;
}

.test-child form label {
    font-size: 0.17em;
    font-weight: 400;
}

.test-scrollable-div {
    background: white;
    border-radius: 6px;
    font-size: 0.16em;
    font-weight: 400;
    max-height: 200px;
    max-width: 400px;
    overflow: auto;
    padding: 6px 12px;
    margin: 0 auto;
}

.test-blue {
    background: radial-gradient(at top right, #0f0c29, #302b63, rgb(96, 148, 184));
}

.test-blue-carousel {
    background: linear-gradient(to top right, #837fb1, #8ab2ca, rgb(210, 245, 210));
}

.test-blue-reversed {
    background: radial-gradient(at bottom right, #0f0c29, #302b63, rgb(96, 148, 184));
}

.test-green {
    background: radial-gradient(at bottom left, rgb(114, 201, 235), rgb(116, 204, 170), rgb(210, 245, 210));
}

.test-orange {
    background: radial-gradient(at top right, rgb(102, 191, 202), rgba(66, 100, 133, 0.589), rgb(123, 131, 207));
}

.test-red {
    background: rgb(238, 198, 198);
    background: radial-gradient(at bottom right, rgb(238, 198, 198), rgba(66, 100, 133, 0.589), rgb(123, 131, 207));
}

.test-purple {
    background: rgb(247, 208, 247);
}

h2 {
    width: 100%;
    text-align:center;
}


.front-page p {
    margin: 0 auto;
    text-align:center;
    margin: -100px 0 48px 0;
    color: rgb(177, 229, 238);
    font-size: 0.38em;
}

p.subtitle {
    font-size: 0.38em;
    margin: 0 auto;
    text-align:center;
}

.sample-code {
    padding: 0 24px 24px 24px;
    background: rgba(7, 6, 29, 0.719);
    border-radius: 12px;
    font-size: 1rem;
    color: rgb(212, 196, 196);
    font-weight: 400;
    width: 80vw;
    max-width: 600px;
    margin: 0 auto;
    text-align:left;
}

.sample-code-carousel {
    padding: 0 24px 24px 24px;
    background: rgba(19, 14, 39, 0.7);
    border-radius: 12px;
    font-size: 1rem;
    color: rgb(212, 196, 196);
    font-weight: 400;
    width: 80vw;
    max-width: 600px;
    margin: 0 auto;
    text-align:left;
}

.css {
    color: rgb(188, 226, 238);
}

.css-light {
    color: rgb(135, 241, 167);
}

.css-light-blue {
    color: rgb(88, 217, 240);
}

header.test-header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    background: rgb(40, 40, 65);
    z-index:1;
    padding: 12px 0;
}

.test-header-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
    font-family: "Satoshi";
    display: flex;
    font-weight: bold;
    align-items: center;
    gap: 12px;
    font-size:1.5em;
}

.showcase {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 48px;
}

.showcase-wrapper {
    position: relative;
    height: 56px;
    width: 56px;
    border-radius: 8px;
    background: radial-gradient(at top left, rgb(196, 243, 255), rgb(110, 177, 131), rgb(196, 243, 255));
}

.showcase-wrapper svg {
    padding: 6px;
    border-radius: 6px;
    background: rgb(64, 67, 87);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 40px;
    width: 40px;
}


.test-title-dark {
    background: radial-gradient(at top, rgb(196, 243, 255), rgb(147, 226, 172));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

small.scroll {
    color: rgb(147, 226, 172);
    font-size: 0.2em;
    margin: 24px 0 -24px 0;
}

.test-blue-carousel {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
}

.test-cheat {
    display: flex;
    align-items:center;
    justify-content:center;
    gap: 24px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 250px;

}

.test-cheat-item {
    border-radius: 12px;
    background: rgba(255,255,255,0.2);
    padding: 24px;
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
}

.test-cheat-item span {
    font-weight: 400;
}

.test-cheat-item-inside {
    border-radius: 12px;
    background: rgba(255,255,255,0.2);
    padding: 24px;
}

@media screen and (max-width:769px) {
    .qroll-logo {
        width: 60%;
    }
    .front-page p {
        font-size: 0.26em;
        margin: 0 auto;
        margin: 24px 0;
        margin-top: 24px !important;
        max-width: calc(100vw - 108px) !important;
    }
    code.npm {
        font-size: 0.3em;
    }
    .big-h2-title {
        font-size: 0.45em;
    }
    p.subtitle {
        font-size: 0.26em;
        margin-top: 24px !important;
        max-width: calc(100vw - 96px);
    }
    form {
        margin: 0 auto;
        max-width: calc(100vw - 96px) !important;
    }
    p.article-p {
        margin-top: 24px !important;
        margin: 0 auto;
        max-width: calc(100vw - 96px) !important;

    }
    .sample-code-carousel,
    .sample-code {
        font-size: 12px !important;
        margin: 0 auto;
        max-width: calc(100vw - 108px) !important;
    }
    .test-blue-carousel p {
        font-size: 0.26em !important;
        margin-top: 0px !important;
    }
    .test-cheat {
        max-width: calc(100vw - 72px);
    }
}

.test-nested-wrapper {
    background: rgba(255, 255, 255, 0.26);
    margin-bottom: 24px !important;
}

.test-nested {
    background: rgba(255, 255, 255, 0.418);
    width: 100%;
    text-align:center;
    font-size: 24px;
    height: 100%;
    display: flex;
    align-items:center;
    justify-content:center;
}

.small-h2-title {
    font-size: 1em;
}

@media screen and (max-width: 769px) {
    .small-h2-title {
        font-size: 0.4em;
    }
}

.test-carousel-slide {
    display: flex;
    align-items:center;
    justify-content:center;
    height: 100%;
}

.test-button,
.test-button-warning {
    font-family: "Satoshi";
    text-transform: uppercase;
    position: relative;
}

.test-button {
    background: radial-gradient(at bottom left, rgb(114, 201, 235), #74ccaa, rgb(210, 245, 210));
    box-shadow: 0 3px 8px rgba(0,0,0,0.6);
    font-weight:bold;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;

    cursor:pointer;
}

.test-button-warning {
    /* background: radial-gradient(at bottom left, rgb(235, 162, 114), rgb(204, 198, 116), rgb(245, 210, 210)); */
}

.test-button-warning:hover.test-button-warning::after {
    position: absolute;
    bottom:calc(100% + 12px);
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    font-weight: 300;
    content: attr(data-caption);
    background: black;
    color:white;
    text-transform: lowercase;
    padding: 12px;
    border-radius: 6px;
    min-width: 200px;
    opacity:0;
    animation: wake-up 0.2s ease-in forwards;
}

@keyframes wake-up {
    from {
        opacity: 0;
        transform: translate(-50%, 10%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, 0%);
    }
}

.test-button-wrapper {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

.test-dialog {
    height: calc(100vh - 48px);
    width: calc(100vw - 48px);
    max-width: 800px;
    max-height: 530px;
    font-family: "Satoshi";
}

.test-dialog-2 {
    height: calc(100vh - 48px);
    width: calc(100vw - 48px);
    max-width: 800px;
    max-height: 450px;
    font-family: "Satoshi";
}

.test-menu-button {
    position: fixed;
    z-index:10;
    top: 18px;
    left: 12px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    outline: none;
    border: none;
}

.test-menu-button svg path {
    filter: drop-shadow(0px 0px 2px black);
}

.test-dialog-menu {
    width: 100vw;
    max-width: 400px;
    height: 100vh;
    max-height: 200px;
    font-family: "Satoshi";
}

.test-chart-slide {
    display: flex;
    align-items:center;
    justify-content: center;
    height:100%;
}

.test-chart-slide-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    align-content: center;
    height: 100%;
    width:100%;
    gap: 48px;
    padding: 48px;
}

@media screen and (max-width: 769px) {
    .test-chart-slide-wrapper {
        grid-template-columns: repeat(1,1fr);
        gap: 12px;
    }
}

.test-chart-code {
    background: rgba(0, 0, 0, 0.534);
    height: 100%;
    width: 100%;
    max-width: 600px;
    max-height: 400px;
    word-break: break-all;
}
.test-chart-code-body {
    padding: 12px;
}

.test-chart {
    width: 100%;
}

.css-orange {
    color: rgb(224, 165, 110);

}

.qroll-chart__title {
    font-size: 24px;
}

.qroll-menu {
    font-family: "Satoshi";
}

@media screen and (max-width:769px) {
    h2 {
        font-size: 0.6em;
    }
    p {
        max-width: 300px !important;
        margin: 0 auto;
    }
}

#mars-image {
    position: absolute;
    object-fit:cover;
    height: 100%;
    width: 100%;
}

#mars-gauge svg {
    background: rgba(255, 255, 255, 0.46);
    border-radius: 3px;
}

#mars-gauge .qroll-chart__subtitle {
    fill:white;
}

.qroll-chart-gauge-tick-label {
    fill: white;
}

.test-chart-code-body{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items:center;
    justify-content:center;
    height: 100%;
    z-index: 0;
}

.test-gauge-title {
    font-size: 1.6em;
    color: rgb(255, 102, 0);
    width:100%;
    text-align:center;
}

#uiButtonDialog,
#uiButtonDialogRounded,
#uiButtonDialogFab {
    height: 340px;
    max-width: 340px;
}

#uiButtonDialog {
    background: radial-gradient(at bottom left, rgb(114, 201, 235), #74ccaa, rgb(210, 245, 210));
}

#uiButtonDialogRounded {
    background: radial-gradient(at bottom left, rgb(235, 162, 114), rgb(204, 198, 116), rgb(245, 210, 210));
}

#uiButtonDialogFab {
    background: radial-gradient(at bottom right, rgb(238, 198, 198), rgb(123, 131, 207));
}